<div class="comments">
  {{#each this}}

    <section
      class="comment card bg-white mx-5 row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-3"
    >
      <div class="meta">{{user.username}} on {{format_date created_at}}</div>
      <div class="forum-text">{{comment_text}}</div>
    </section>

  {{/each}}

</div>