<div class="card">

    <header class="card-header">
        <div>
            {{!-- TITLE --}}
        </div>
    </header>

    <div class="meta card-content">
        <div>
            {{!-- POST CONTENT --}}
        </div>
        <div>
            {{!-- Username, date created, facebook / instagram logo --}}
        </div>
    </div>

</div>