{{! TOP SECTION }}
<section class="mt-5 px-5 overflow-auto">
  <h2>Get Connected!</h2>
  <p>Want to meet up with other people going to the same shows? Need
    recommendations for places to stay? Ask here!</p>

  <form class="mb-5 new-post-form">
    <div class="mb-3">
      <label for="forum-title" class="form-label fw-bold">New post title</label>
      <input
        type="text"
        id="forum-title"
        name="forum-title"
        class="form-control"
      />
    </div>
    <div class="mb-3">
      <label for="forum-content" class="form-label fw-bold">New post text
        (optional)</label>
      <textarea id="forum-content" class="textarea form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-light">Post</button>
  </form>

  <h2 class="mb-3 pt-5 text-white">Recent Posts</h2>
  <p>Click post title to reply</p>

  {{#each posts as |post|}}

    <div
      class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-3"
    >
      <div class="row align-items-center">
        <div class="col-md-8 mb-3 mb-sm-0">
          <h5>
            <a
              href="/forum/posts/{{post.id}}"
              class="text-primary"
            >{{post.title}}</a>
          </h5>
          <p class="text-sm"><span class="op-6">Posted by</span>
            <a class="text-black" href="#">{{user.username}}</a></p>

          <div class="meta card-content">
            <p class="card-text">{{post.content}}</p>
          </div>

        </div>

      </div>
    </div>

  {{/each}}

</section>

{{! TOP SECTION END }}

{{! POSTS/FORUM }}

<script src="/javascript/add-post.js"></script>