<div class="p-5 mt-5 hero-section container">
    <div class="p-5 text-center">
        <h1 id="band-name">INSOMNIA</h1>
    </div>
</div>

<div class="about-section text-center container">
    <div id="about-text mb-5">
        <h2>About</h2>
        <p>lorem ipsum</p>
    </div>

    <div class="row" id="images-home">
        <div class="img card col-lg-3">
            <img class="band-pic" id="img-1" src="/images/img-1.jpeg" />
        </div>

        <div class="img card col-lg-3">
            <img class="band-pic" id="img-2" src="/images/img-2.jpeg" />
        </div>

        <div class="img card col-lg-3">
            <img class="band-pic" id="img-3" src="/images/img-3.jpeg" />
        </div>

        <div class="img card col-lg-3">
            <img class="band-pic" id="img-4" src="/images/img-4.jpeg" />
        </div>
    </div>
</div>

<div class="newsletter-section center">
    <form class="newsletter-signup card-content text-center">
        <div>
            <h1>sign up to get our exclusive content!</h1>
        </div>
        <div class="center" id="signup-content">
            <div class="mt-5">
                <label for="newsletter-email">email:</label>
                <input type="text" name="newsletter-email" placeholder="email" id="newsletter-email" />
            </div>
            <div class="mt-2 mb-2">
                <button type="submit" class="btn" id="newsletter-submit">submit</button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript" src="/javascript/newsletter-signup.js"></script>
<script type="module" src="/javascript/gsap.js"></script>