<div class="hero-section container">
  <div class="p-5 align-items-center">
    {{! <h1 id="band-name">INSOMNIA</h1> }}
    <img
      class="band-logo img-fluid"
      id="logo"
      src="/images/logo.png"
      alt="moon"
    />
  </div>
</div>

<div class="about-section text-center container">
  <div id="about-text mb-5">
    <h2>ABOUT</h2>
    <p>INSOMNIA is an experimental electonica band formed in North Carolina. The band's work is characterized by an eclectic exploration of styles, including psychedelia, freak folk, and noise, with use of loops, bloops, bee-boops, drones, sampling, vocal harmonies, and sound collage, alongside complex production techniques.
      <br>
    <p>INSOMNIA is Vim Null on guitar, Machine Code Kelly on synth, Alan Parser
      on drums, and Sue Dokode on bass.</p>
  </div>

  <div class="row" id="images-home">
    <div class="img card col-lg-3">
      <img class="band-pic" id="img-1" src="/images/img-1.jpeg" />
    </div>

    <div class="img card col-lg-3">
      <img class="band-pic" id="img-2" src="/images/img-2.jpeg" />
    </div>

    <div class="img card col-lg-3">
      <img class="band-pic" id="img-3" src="/images/img-3.jpeg" />
    </div>

    <div class="img card col-lg-3">
      <img class="band-pic" id="img-4" src="/images/img-4.jpeg" />
    </div>
  </div>
</div>

<div class="newsletter-section center">
  <form class="newsletter-signup card-content text-center">
    <div>
      <h1>SIGN UP TO GET OUR EXCLUSIVE CONTENT!</h1>
    </div>
    <div class="center" id="signup-content">
      <div class="mt-5">
        <label for="newsletter-email">email:</label>
        <input
          type="text"
          name="newsletter-email"
          placeholder="email"
          id="newsletter-email"
        />
      </div>
      <div class="mt-2 mb-2">
        <button type="submit" class="btn" id="newsletter-submit">submit</button>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript" src="/javascript/newsletter-signup.js"></script>
<script type="module" src="/javascript/gsap.js"></script>