<div class="card">
    <div class="hero-section card-content p-5 text-center">
        <h1>BAND NAME</h1>
    </div>
</div>

<div class="wrapper row">
    <div class="card col-lg-3 col-sm-6 mt-2">
        <img src="https://images.pexels.com/photos/1749822/pexels-photo-1749822.jpeg?cs=srgb&dl=pexels-david-yu-1749822.jpg&fm=jpg" />
    </div>

    <div class="card col-lg-3 col-sm-6 mt-2">
        <img src="https://media.istockphoto.com/vectors/rock-people-vector-id912112596?k=20&m=912112596&s=612x612&w=0&h=OjIx6f3jCWwOunt0Fbo5CEKQSsz_6itk0jA8pI49HZ4=" />
    </div>

    <div class="card col-lg-3 col-sm-6 mt-2">
        <img src="https://media.gettyimages.com/illustrations/rock-band-illustration-id165517186?s=612x612" />
    </div>

    <div class="card col-lg-3 col-sm-6 mt-2">
        <img src="https://media.istockphoto.com/vectors/rock-concert-metal-band-playing-music-on-stage-illuminated-by-youth-vector-id1306769775?k=20&m=1306769775&s=612x612&w=0&h=oGlQbLcvx43QjXdD2afer-TKwgRftoZ9Fyfl689XMNY=" />
    </div>
</div>

<div class="newsletter card mt-5">
    <form class="newsletter-signup card-content text-center">
        <div class="mt-5">
            <h1>Sign Up To Get Our Exclusive Content!</h1>
        </div>
        <div class="mt-5">
            <label for="newsletter-email">email:</label>
            <input type="text" name="newsletter-email" placeholder="email" />
        </div>
        <div class="mt-2">
            <button type="submit" class="btn">submit</button>
        </div>
    </form>
</div>