<section class="card text-center p-5 rounded-lg">
  <h2>Get Connected!</h2>
  <p>Want to meet up with other people going to the same shows? Need
    recommendations for places to stay? Ask here!</p>

  <form>
    <div>
      <label for="forum-title">Brief Description</label>
      <input type="text" id="forum-title" name="forum-title" />
    </div>
    <div>
      <label for="forum-content">Describe What You Want to Know!</label>
      <textarea id="forum-content" class="textarea"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{! not sure if we're adding edit functionality yet }}

{{!-- {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/forum/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script> --}}